.hero-container {
  color: var(--primary-color);

  font-family: Roboto-Mono;

  min-height: 100dvh;

  & .stars-container {
    min-height: 100%;

    & .star {
      background-color: var(--primary-color);

      width: 0.15rem;
      height: 0.15rem;
      border-radius: 0.15rem;

      position: fixed;

      animation: twinkle 1s linear infinite alternate;
    }
  }

  & img {
    position: fixed;

    z-index: 1;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
