/* About container style */
#about {
  min-height: 100dvh;
  color: var(--primary-color);
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;

  /* About container text style */
  & .about-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-start;
    text-wrap: balance;
    gap: 1rem;

    & h1 {
      font-size: 4rem;
    }

    & p {
      font-size: 1.5rem;
    }

    & a {
      display: inline-block;
      cursor: none;
      color: #FF5D00;
      font-weight: bold;
      text-decoration: none;
    }
  }

  /* Style for container holding headshot */
  & .headshot-container {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;

    /* Style for image wrapper and image */
    & .headshot-wrapper {
      background-color: var(--background-color);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 98%;
      height: 98%;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Responsive design for medium monitor */
@media (max-width: 1280px) {
  #about {
    & .about-container-text {
      & h1 {
        font-size: 3rem;
      }

      & p {
        font-size: 1.25rem;
      }
    }

    & .headshot-container {
      width: 25rem;
      height: 25rem;
    }
  }
}

/* Responsive design for small monitor */
@media (max-width: 1024px) {
  #about {
    & .about-container-text {
      & h1 {
        font-size: 2.75rem;
      }

      & p {
        font-size: 1.125rem;
      }
    }

    & .headshot-container {
      width: 20rem;
      height: 20rem;
    }
  }
}

/* Responsive design for tablet */
@media (max-width: 900px) {
  #about {
    & .about-container-text {
      & h1 {
        font-size: 2rem;
      }

      & p {
        font-size: 1rem;
      }
    }

    & .headshot-container {
      width: 15rem;
      height: 15rem;
    }
  }
}

/* Responsive design for large mobile */
@media (max-width: 600px) {
  #about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    & .about-container-text {
      & h1 {
        font-size: 1.75rem;
        text-align: center;
      }

      & p {
        text-align: center;
      }
    }
  }
}

/* Responsive design for small mobile */
@media (max-width: 350px) {
}
