/* Canvas container style */
#canvas-container {
  width: 20rem;
  height: 20rem;
}

/* Responsive design for medium monitor */
@media (max-width: 1280px) {
  #canvas-container {
    width: 15rem;
    height: 15rem;
  }
}

/* Responsive design for small monitor */
@media (max-width: 1024px) {

}

/* Responsive design for tablet */
@media (max-width: 800px) {
  #canvas-container {
    width: 12rem;
    height: 12rem;
  }
}

/* Responsive design for large mobile */
@media (max-width: 600px) {
  #canvas-container {
    width: 9rem;
    height: 9rem;
  }
}

/* Responsive design for small mobile */
@media (max-width: 350px) {
}
