html {
  cursor: none;
}

body {
  background-color: var(--background-color);
  font-family: Roboto-mono;
  overflow-x: hidden;
}

#root {
  min-height: 100dvh;
}

#root > * {
  padding: 2.5rem 5rem;
}

@media (pointer:coarse) {
  #react-mouse-trail {
    display: none;
  }
}

/* Responsive design for large monitor */
@media (min-width: 1920px) {
  body {
    display: flex;
    justify-content: center;
  }

  #root {
    max-width: 1920px;
  }
}

/* Responsive design for small monitor */
@media (max-width: 1024px) {
  #root > * {
    padding: 1.5rem 3rem;
  }
}

/* Responsive design for tablet */
@media (max-width: 900px) {
  #root > * {
    padding: 1rem 2rem;
  }
}

/* Responsive design for large mobile */
@media (max-width: 600px) {
  #root > * {
    padding: 1rem;
  }
}

/* Responsive design for small mobile */
@media (max-width: 350px) {
  #root > * {
    padding: 0.75rem;
  }
}
