:root {
  --primary-color: #F0F0F0;
  --accent-color: #AFFF00;
  --background-color: #0F0F0F;
}

@font-face {
  font-family: Roboto-Mono;
  src: url(./assets/fonts/RobotoMono-VariableFont.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-VariableFont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}