/* Custom cursor for monitor users */
@media(min-width: 1024px) {
  html {
    cursor: url(../../../public/rocket.png), auto;
  }

  .cursor {
    background-color: var(--primary-color);
    border-radius: 4rem;
    filter: blur(4rem);
    width: 4rem;
    height: 4rem;
    padding: 0 !important;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
