/* Nav container style */
.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 2rem;

  /* Hamburger menu button style */
  & .hamburger-menu {
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: none;

    /* Stack style for hamburger menu */
    & .stack-middle,
    & .stack-top,
    & .stack-bottom {
      width: 2.5rem;
      height: 0.25rem;
      background-color: var(--primary-color);
    }
  }
}

/* Links container style */
.links-container {
  color: var(--primary-color);

  & ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  & a {
    color: var(--primary-color);
    text-wrap: nowrap;
    font-size: 1.5rem;
    cursor: none;
    text-decoration: none;
  }
}

/* Responsive design for medium monitor */
@media (max-width: 1280px) {
  .links-container {
    & a {
      font-size: 1.25rem;
    }
  }
}

/* Responsive design for small monitor */
@media (max-width: 1024px) {
  .links-container {
    & a {
      font-size: 1.125rem;
    }
  }
}

/* Responsive design for tablet */
@media (max-width: 900px) {
  .links-container {
    & a {
      font-size: 1rem;
    }
  }
}

/* Responsive design for large mobile */
@media (max-width: 600px) {
  .nav-container {
    gap: 1rem;
  }

  .links-container {
    & ul {
      gap: 1rem;
    }
  }
}

/* Responsive design for small mobile */
@media (max-width: 350px) {
}
